flow.txt
[{"id":"7309490c.b77948","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b0a8ae70.9470c","type":"delay","z":"7309490c.b77948","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":240,"wires":[[]]},{"id":"26687f77.29c1d","type":"function","z":"7309490c.b77948","name":"collect","func":"var newMsg = {};\nvar Sensor = {\n    Hub: 0, \n    N1: 0,\n    N2: 0,\n    N3: 0,\n    N4: 0,\n    Time: new Date().toString()\n};\n\ncontext.data = context.data || {};\n\nswitch(msg.parts.index){\n    case 0:\n        context.data.Hub = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 1:\n        context.data.N1 = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 2:\n        context.data.N2 = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 3:\n        context.data.N3 = parseFloat(msg.payload);\n        msg = null;\n        break;\n    case 4:\n        context.data.N4 = parseFloat(msg.payload);\n        msg = null;\n        break;   \n    default:\n        msg = null;\n        break;\n}\n\nAllData = context.data.Hub &&\n          context.data.N1 &&\n          context.data.N2 &&\n          context.data.N3 &&\n          context.data.N4 ;\n\nif(AllData){\n    var time = Date();\n    context.data.Time = time.toString();\n    Sensor = context.data;\n    newMsg = { payload: context.data,\n    topic: 'Frame Sensor' };\n    context.data = null;\n    return newMsg;\n}\nelse\n    return msg;\n\n\n","outputs":1,"noerr":0,"x":990,"y":280,"wires":[[]]},{"id":"eea92762.60ef68","type":"inject","z":"7309490c.b77948","name":"","topic":"","payload":"\"Node:0001,Temp: 95.0F,Battery:3.6V,Strength:000%,RE:no \"","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"1","x":100,"y":100,"wires":[["4525e154.957d1"]]},{"id":"cd994bfc.546c28","type":"debug","z":"7309490c.b77948","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":420,"wires":[]},{"id":"75b25b7c.c26814","type":"change","z":"7309490c.b77948","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":180,"wires":[[]]},{"id":"8a20170b.068558","type":"split","z":"7309490c.b77948","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"temp","x":800,"y":300,"wires":[["fe8ca577.9a5718"]]},{"id":"68222a6a.e7e094","type":"debug","z":"7309490c.b77948","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":120,"wires":[]},{"id":"fe8ca577.9a5718","type":"split","z":"7309490c.b77948","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":980,"y":220,"wires":[[]]},{"id":"cb3b0b7d.92bbe8","type":"function","z":"7309490c.b77948","name":"","func":"obj = {};\nvar res;\n\nmsg.payload = JSON.parse(msg.payload);\n\nmsg.payload.forEach(function(item) {\n    res = item.split(\"/n\");\n    obj[res[1]] = res[2];\n})\nmsg.payload = obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":60,"wires":[["68222a6a.e7e094"]]},{"id":"e4c84f9e.b3556","type":"debug","z":"7309490c.b77948","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":100,"wires":[]},{"id":"bb8e404a.89419","type":"csv","z":"7309490c.b77948","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":790,"y":420,"wires":[[]]},{"id":"16dd0d52.e98a23","type":"inject","z":"7309490c.b77948","name":"","topic":"","payload":"\"Node:0002,Temp: 87.6F,Battery:3.6V,Strength:000%,RE:no \"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"1","x":110,"y":160,"wires":[["4525e154.957d1"]]},{"id":"6710e15e.7ae14","type":"inject","z":"7309490c.b77948","name":"","topic":"","payload":"\"Node:0003,Temp: 87.6F,Battery:3.6V,Strength:000%,RE:no\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"1","x":110,"y":220,"wires":[["4525e154.957d1"]]},{"id":"da10bcc4.a0cfd","type":"inject","z":"7309490c.b77948","name":"","topic":"","payload":"\"Node:0004,Temp: 87.6F,Battery:3.6V,Strength:000%,RE:no\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"1","x":110,"y":260,"wires":[["4525e154.957d1"]]},{"id":"2de2b0d.c9d365","type":"function","z":"7309490c.b77948","name":"","func":"var n1,n2,n3,n4;\n\nvar Allnodes = { \"nodes\" :\n    [ \n        {\"n1\":1,\"temp\":\"21.5°C\",\"vol\":\"2v\",\"Signal\":\"33%\"},\n        {\"n1\":2,\"temp\":\"21.5°C\",\"vol\":\"2v\",\"Signal\":\"33%\"},\n        {\"n1\":3,\"temp\":\"21.5°C\",\"vol\":\"2v\",\"Signal\":\"33%\"}\n    ]\n}\n\n\n\nif(msg.payload.includes(\"0001\"))\n{\n    n1.topic=\"Node1\"; \n    n1.payload=msg.payload;\n    return n1;\n}\nif(msg.payload.includes(\"0002\"))\n{\n    n2.topic=\"Node2\"; \n    n2.payload=msg.payload;\n    return n2;\n}\nif(msg.payload.includes(\"0003\"))\n{\n    n3.topic=\"Node3\"; \n    n3.payload=msg.payload;\n    return n3;\n}\nif(msg.payload.includes(\"0004\"))\n{\n    n4.topic=\"Node4\"; \n    n4.payload=msg.payload;\n    return n4;\n}\n","outputs":1,"noerr":0,"x":990,"y":360,"wires":[[]]},{"id":"a1f01830.605048","type":"debug","z":"7309490c.b77948","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":500,"wires":[]},{"id":"f2d75d71.c25ea","type":"json","z":"7309490c.b77948","name":"","property":"payload","action":"obj","pretty":true,"x":300,"y":260,"wires":[["8f358b75.9cb5c8"]]},{"id":"8f358b75.9cb5c8","type":"function","z":"7309490c.b77948","name":"filter node","func":"//var n1,n2,n3,n4;\n\n/*var Allnodes = { \"nodes\" :\n    [ \n        {\"n1\":1,\"temp\":\"21.5°C\",\"vol\":\"2v\",\"Signal\":\"33%\"},\n       {\"n1\":2,\"temp\":\"21.5°C\",\"vol\":\"2v\",\"Signal\":\"33%\"},\n        {\"n1\":3,\"temp\":\"21.5°C\",\"vol\":\"2v\",\"Signal\":\"33%\"}\n    ]\n}\n\n*/\n\nif(msg.payload.includes(\"0001\"))\n{\n    msg.topic=\"Node1\"; \n    return msg;\n}\nif(msg.payload.includes(\"0002\"))\n{\n    msg.topic=\"Node2\"; \n    return msg;\n}\nif(msg.payload.includes(\"0003\"))\n{\n    msg.topic=\"Node3\"; \n    return msg;\n}\nif(msg.payload.includes(\"0004\"))\n{\n    msg.topic=\"Node4\"; \n    return msg;\n}\n","outputs":1,"noerr":0,"x":330,"y":320,"wires":[["cd994bfc.546c28","6c5c52a1.8bbb6c"]]},{"id":"d9f6448c.330bd8","type":"function","z":"7309490c.b77948","name":"","func":"//var n1,n2,n3,n4;\n\n/*var Allnodes = { \"nodes\" :\n    [ \n        {\"n1\":1,\"temp\":\"21.5°C\",\"vol\":\"2v\",\"Signal\":\"33%\"},\n       {\"n1\":2,\"temp\":\"21.5°C\",\"vol\":\"2v\",\"Signal\":\"33%\"},\n        {\"n1\":3,\"temp\":\"21.5°C\",\"vol\":\"2v\",\"Signal\":\"33%\"}\n    ]\n}\n\n*/\n\nif(msg.topic===\"Node1\")\n{\n    n1=msg.payload(s)\n    return msg;\n}\nif(msg.topic===\"Node2\")\n{\n    msg.topic=\"Node3\"; \n    return msg;\n}\nif(msg.topic===\"Node3\")\n{\n    msg.topic=\"Node3\"; \n    return msg;\n}\nif(msg.topic===\"Node4\")\n{\n    msg.topic=\"Node4\"; \n    return msg;\n}\n","outputs":1,"noerr":0,"x":1190,"y":220,"wires":[[]]},{"id":"6c5c52a1.8bbb6c","type":"function","z":"7309490c.b77948","name":"","func":"var n1= [msg.payload.split(\",\") ]\nmsg.n1=n1;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":780,"wires":[["3e506618.b8076a"]]},{"id":"4525e154.957d1","type":"change","z":"7309490c.b77948","name":"remove RE","rules":[{"t":"change","p":"payload","pt":"msg","from":",RE:no","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":" ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"F","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"V","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"%","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":",","fromt":"str","to":"\",\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":":","fromt":"str","to":"\":\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":200,"wires":[["e4c84f9e.b3556"]]},{"id":"e7bd0109.101c2","type":"template","z":"7309490c.b77948","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":180,"y":500,"wires":[[]]},{"id":"8d4fb156.3113b","type":"join","z":"7309490c.b77948","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":500,"y":580,"wires":[["a1f01830.605048"]]},{"id":"3e506618.b8076a","type":"debug","z":"7309490c.b77948","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":580,"wires":[]},{"id":"6cee1691.d8b778","type":"change","z":"7309490c.b77948","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":60,"wires":[[]]}]