RP_flows.json
[{"id":"dc242952.022648","type":"tab","label":"Flow 5","disabled":true,"info":""},{"id":"a2f85075.de3e5","type":"inject","z":"dc242952.022648","name":"","topic":"","payload":"{'Node':'0001','Temp': 21.8C,'Battery':2.9,'Strength':'028','RE':'no'}","payloadType":"str","repeat":"2.1","crontab":"","once":true,"onceDelay":"1","x":130,"y":80,"wires":[["818eaae4.5e7dc8"]]},{"id":"f94619de.42c398","type":"inject","z":"dc242952.022648","name":"","topic":"","payload":"{'Node':'0002','Temp': 29.2C,'Battery':3.2,'Strength':'028','RE':'no'}","payloadType":"str","repeat":"2.2","crontab":"","once":true,"onceDelay":"1","x":130,"y":140,"wires":[["818eaae4.5e7dc8"]]},{"id":"7d186a4d.cf0394","type":"function","z":"dc242952.022648","name":"For Battery and voltage Display","func":"var w=flow.get(\"ED1\") || 0;\nvar x=flow.get(\"ED2\") || 0;\nvar y=flow.get(\"ED3\") || 0;\nvar z=flow.get(\"ED4\") || 0;\n\nvar a,b,c,d,e,f,g,h;\n\nif ( msg.topic==\"n1\")\n{\n    a={ payload: msg.payload.n1.T};\n    b={ payload: msg.payload.n1.Bat};\n    w=a.payload;\n    flow.set('ED1',w);\n  \n}\nif ( msg.topic==\"n2\")\n{\n    c={ payload: msg.payload.n2.T};\n    d={ payload: msg.payload.n2.Bat};\n    x=c.payload;\n    flow.set('ED2',x);\n   \n}\nif ( msg.topic==\"n3\" )\n{\n    e={ payload: msg.payload.n3.T};\n    f={ payload: msg.payload.n3.Bat};\n    y=e.payload;\n    flow.set('ED3',y);\n    \n}\nif ( msg.topic==\"n4\")\n{\n    g={ payload: msg.payload.n4.T};\n    h={ payload: msg.payload.n4.Bat};\n    z=g.payload;\n    flow.set('ED4',z);\n}\n\nreturn [a,b,c,d,e,f,g,h,null];","outputs":9,"noerr":0,"x":730,"y":360,"wires":[["358713ec.fc296c"],["4e11be35.8b5d1"],["2fa9402f.53f9a"],["2b206803.d45e68"],["10d35347.e01d5d"],["a4eabfe4.b4a53"],["dc477bc6.9ea6a8"],["9c0232ee.568aa"],[]]},{"id":"f922defb.00bbd","type":"json","z":"dc242952.022648","name":"","property":"payload","action":"obj","pretty":true,"x":650,"y":140,"wires":[["1e336934.f50bd7","4caace39.dd8f"]]},{"id":"1e336934.f50bd7","type":"debug","z":"dc242952.022648","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":60,"wires":[]},{"id":"664d9744.206908","type":"change","z":"dc242952.022648","name":"remove RE","rules":[{"t":"change","p":"payload","pt":"msg","from":"'","fromt":"str","to":"\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"C","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":220,"wires":[["f922defb.00bbd"]]},{"id":"818eaae4.5e7dc8","type":"delay","z":"dc242952.022648","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":370,"y":140,"wires":[["664d9744.206908"]]},{"id":"f97bde3d.77a4d","type":"debug","z":"dc242952.022648","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":640,"wires":[]},{"id":"a82c83a2.0b69f","type":"inject","z":"dc242952.022648","name":"","topic":"","payload":"{'Node':'0003','Temp': 25.7C,'Battery':3.5,'Strength':'028','RE':'no'}","payloadType":"str","repeat":"2.0","crontab":"","once":true,"onceDelay":"1","x":130,"y":200,"wires":[["818eaae4.5e7dc8"]]},{"id":"f8137952.900518","type":"inject","z":"dc242952.022648","name":"","topic":"","payload":"{'Node':'0004','Temp': 19.8C,'Battery':3.3,'Strength':'028','RE':'no'}","payloadType":"str","repeat":"1.9","crontab":"","once":true,"onceDelay":"1","x":130,"y":260,"wires":[["818eaae4.5e7dc8"]]},{"id":"4caace39.dd8f","type":"function","z":"dc242952.022648","name":"filter node","func":"\n\nif(msg.payload.Node==\"0001\")\n{   msg.topic=\"n1\";\n    msg.payload={ \n        n1 : { T : msg.payload.Temp,\n        Bat : msg.payload.Battery}\n    }\n}\n\nif(msg.payload.Node==\"0002\")\n{    msg.topic=\"n2\";\n    msg.payload={ \n        n2 : { T : msg.payload.Temp,\n        Bat : msg.payload.Battery}\n    }\n}\nif(msg.payload.Node==\"0003\")\n{   msg.topic=\"n3\";\n   msg.payload={ \n        n3 : { T : msg.payload.Temp,\n        Bat : msg.payload.Battery}\n    }\n}\nif(msg.payload.Node==\"0004\")\n{    msg.topic=\"n4\";\n msg.payload={ \n        n4 : { T : msg.payload.Temp,\n        Bat : msg.payload.Battery}\n    }\n}\n\nif(msg.payload.Node==\"HUB0\")\n{  \n msg.payload= null;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":220,"wires":[["7d186a4d.cf0394","18d7ed59.c32903","28f86764.b113b8"]]},{"id":"18d7ed59.c32903","type":"debug","z":"dc242952.022648","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":140,"wires":[]},{"id":"4e11be35.8b5d1","type":"ui_gauge","z":"dc242952.022648","name":"Battery","group":"a193d481.a91da8","order":27,"width":6,"height":4,"gtype":"wave","title":"Battery_Node0","label":"Volts","format":"{{value}}","min":0,"max":"3.6","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1080,"y":240,"wires":[]},{"id":"a4eabfe4.b4a53","type":"ui_gauge","z":"dc242952.022648","name":"Battery","group":"a193d481.a91da8","order":29,"width":6,"height":4,"gtype":"wave","title":"Battery_Node2","label":"Volts","format":"{{value}}","min":0,"max":"3.6","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1080,"y":400,"wires":[]},{"id":"9c0232ee.568aa","type":"ui_gauge","z":"dc242952.022648","name":"Battery","group":"a193d481.a91da8","order":30,"width":6,"height":4,"gtype":"wave","title":"Battery_Node4","label":"Volts","format":"{{value}}","min":0,"max":"3.6","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1080,"y":480,"wires":[]},{"id":"2fa9402f.53f9a","type":"ui_gauge","z":"dc242952.022648","name":"","group":"a193d481.a91da8","order":24,"width":6,"height":4,"gtype":"gage","title":"Node1 (Placed at the window)","label":"Degree Celsius","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"40","x":1150,"y":280,"wires":[]},{"id":"10d35347.e01d5d","type":"ui_gauge","z":"dc242952.022648","name":"","group":"a193d481.a91da8","order":25,"width":6,"height":4,"gtype":"gage","title":"Node2 (Placed at the wall)","label":"Degree Celsius","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"40","x":1140,"y":360,"wires":[]},{"id":"dc477bc6.9ea6a8","type":"ui_gauge","z":"dc242952.022648","name":"","group":"a193d481.a91da8","order":26,"width":6,"height":4,"gtype":"gage","title":"Node3 (Placed at the racks)","label":"Degree Celsius","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"40","x":1140,"y":440,"wires":[]},{"id":"1fd8d1a7.7965de","type":"debug","z":"dc242952.022648","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":400,"wires":[]},{"id":"358713ec.fc296c","type":"ui_gauge","z":"dc242952.022648","name":"","group":"a193d481.a91da8","order":23,"width":6,"height":4,"gtype":"gage","title":"Node 0 (Placed at the Server)","label":"Degree Celsius","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"40","x":1150,"y":200,"wires":[]},{"id":"2b206803.d45e68","type":"ui_gauge","z":"dc242952.022648","name":"Battery","group":"a193d481.a91da8","order":28,"width":6,"height":4,"gtype":"wave","title":"Battery_Node1","label":"Volts","format":"{{value}}","min":0,"max":"3.6","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1080,"y":320,"wires":[]},{"id":"a5c93377.36c65","type":"ui_gauge","z":"dc242952.022648","name":"","group":"a193d481.a91da8","order":2,"width":9,"height":5,"gtype":"donut","title":"Average threshold","label":"celsius","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"40","x":1110,"y":540,"wires":[]},{"id":"c340c89b.906898","type":"ui_switch","z":"dc242952.022648","name":"","label":"Mannua Control","tooltip":"","group":"a193d481.a91da8","order":10,"width":5,"height":3,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"N","onvalueType":"str","onicon":"","oncolor":"","offvalue":"F","offvalueType":"str","officon":"","offcolor":"","x":580,"y":940,"wires":[["44a5e955.edbea8"]]},{"id":"44a5e955.edbea8","type":"serial out","z":"dc242952.022648","name":"","serial":"3d12d587.b75c2a","x":1000,"y":920,"wires":[]},{"id":"a7f3d59c.ace568","type":"inject","z":"dc242952.022648","name":"Average taken Every 2s","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":0.1,"x":370,"y":700,"wires":[["53ac77d7.8a5f28"]]},{"id":"1f30fbf9.ae3c64","type":"openweathermap in","z":"dc242952.022648","name":"Sri","wtype":"current","lon":"12.921211","lat":"50.825138","city":"","country":"","language":"en","x":90,"y":400,"wires":[["1fd8d1a7.7965de"]]},{"id":"53ac77d7.8a5f28","type":"function","z":"dc242952.022648","name":"Average_temp","func":"var w=flow.get(\"ED1\") || 0;\nvar x=flow.get(\"ED2\") || 0;\nvar y=flow.get(\"ED3\") || 0;\nvar z=flow.get(\"ED4\") || 0 ;\nvar sum;\nvar thresold =flow.get('TR');\nvar ver=flow.get(\"REF\") || 0.0 ;\nvar arr=[];\nvar n=0;\narr[0]=w;\narr[1]=x;\narr[2]=y;\narr[3]=z;\nyes={payload:arr};\n\nfor (i = 0; i<arr.length;  i++)\n{\n    if(arr[i])\n        {\n           n++; \n        }\n}\nn={payload:n};\n/*\nswitch (arg) {\n  case '0':\n  case '1':\n    alert( 'One or zero' );\n    break;\n\n  case '2':\n    alert( 'Two' );\n    break;\n\n  case 3:\n    alert( 'Never executes!' );\n    break;\n  default:\n    alert( 'An unknown value' );\n}\n*/\n\nif((w & x & y & z) !== 0)\n{\n    \n    sum=(w+x+y+z)/4;\n    msg.payload=sum.toFixed(2);\n}\nelse\n{\n    msg.payload=\"One of the End device is failed please check\";\n}\n\n\n\nif (msg.payload>= thresold)\n{\n    newmsg={payload: \"ON\"};\n}\nelse if (msg.payload<= thresold)\n{\n    newmsg={payload: \"OFF\"};\n}\nelse\n{\n    newmsg={payload: \"OFF\"};\n}\n\nreturn [msg,newmsg,n];","outputs":3,"noerr":0,"x":620,"y":700,"wires":[["a5c93377.36c65","f97bde3d.77a4d","f8e57a3f.ed64e8"],["1a9bcd1f.cdf503"],["59083254.dfef0c"]]},{"id":"b61b2990.7c3be8","type":"debug","z":"dc242952.022648","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":240,"wires":[]},{"id":"f12ee647.f7efc8","type":"ui_text_input","z":"dc242952.022648","name":"","label":"Threshold input","tooltip":"","group":"a193d481.a91da8","order":4,"width":4,"height":3,"passthru":true,"mode":"number","delay":300,"topic":"","x":400,"y":620,"wires":[["41738156.4c4c2"]]},{"id":"1a9bcd1f.cdf503","type":"rbe","z":"dc242952.022648","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":730,"y":860,"wires":[["44a5e955.edbea8","87b8068f.650f88","bd33fdf9.484a6"]]},{"id":"41738156.4c4c2","type":"function","z":"dc242952.022648","name":"s.payload","func":"var w=flow.get('TR') || 0.0 ;\nw=msg.payload;\nflow.set('TR',w);\n","outputs":1,"noerr":0,"x":600,"y":620,"wires":[["a665adfb.7532f"]]},{"id":"a665adfb.7532f","type":"debug","z":"dc242952.022648","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":540,"wires":[]},{"id":"f8e57a3f.ed64e8","type":"ui_text","z":"dc242952.022648","group":"a193d481.a91da8","order":21,"width":22,"height":1,"name":"","label":"message","format":"{{msg.payload}}","layout":"row-left","x":1000,"y":620,"wires":[]},{"id":"53f8fada.6f4f84","type":"influxdb out","z":"dc242952.022648","influxdb":"fa874327.13cfd","name":"","measurement":"temperature","precision":"","retentionPolicy":"","x":1370,"y":100,"wires":[]},{"id":"28f86764.b113b8","type":"delay","z":"dc242952.022648","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":883.5999755859375,"y":140,"wires":[[]]},{"id":"b367ce38.e9f0d","type":"function","z":"dc242952.022648","name":"Average_temp","func":"var w=flow.get(\"ED1\") || 0.0 ;\nvar x=flow.get(\"ED2\") || 0.0 ;\nvar y=flow.get(\"ED3\") || 0.0 ;\nvar z=flow.get(\"ED4\") || 0.0 ;\nvar ver=flow.get(\"REF\") || 0.0 ;\nvar sum;\nvar thresold =flow.get('TR');\n\nif((w & x & y & z) !== 0)\n{\n    \n    sum=(w+x+y+z)/4;\n    msg.payload={\"node1\" : w,\"node2\" : x,\"node3\" : y,\"node4\" : z, \"avg\": sum, \"reference\": ver};\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":40,"wires":[["53f8fada.6f4f84","bfef6e42.98b0d"]]},{"id":"80eea91.5ebcd58","type":"inject","z":"dc242952.022648","name":"Data stored in influxdb Every 5s","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":1020,"y":20,"wires":[["b367ce38.e9f0d"]]},{"id":"48854eed.89dab","type":"mqtt in","z":"dc242952.022648","name":"","topic":"home/dht11/temperature","qos":"2","datatype":"auto","broker":"1989a34d.dbf86d","x":130,"y":460,"wires":[["cc646884.eeb578","72c7941c.5df49c"]]},{"id":"6793a4bb.68e15c","type":"function","z":"dc242952.022648","name":"Verification","func":"var ver=flow.get(\"REF\") || 0.0 ;\nvar w=flow.get(\"ED1\") || 0.0 ;\nvar x=flow.get(\"ED2\") || 0.0 ;\nvar y=flow.get(\"ED3\") || 0.0 ;\nvar z=flow.get(\"ED4\") || 0.0 ;\nvar sum;\nsum=(w+x+y+z)/4;\nver=msg.payload;\nflow.set(\"REF\",ver);\n\nif(sum >=ver+1|| sum <=ver-1)\n{\n   msg.payload =\"FAIL\";\n    \n}\nelse msg.payload =\"PASS\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":520,"wires":[["3f93ded6.0f2fb2"]]},{"id":"72c7941c.5df49c","type":"debug","z":"dc242952.022648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":520,"wires":[]},{"id":"59083254.dfef0c","type":"debug","z":"dc242952.022648","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":700,"wires":[]},{"id":"a18b2423.ef3b98","type":"function","z":"dc242952.022648","name":"","func":"var w=flow.get(\"ED1\") || 0;\nvar x=flow.get(\"ED2\") || 0;\nvar y=flow.get(\"ED3\") || 0;\nvar z=flow.get(\"ED4\") || 0 ;\n","outputs":1,"noerr":0,"x":160,"y":680,"wires":[[]]},{"id":"ae79d1fa.5d95b","type":"inject","z":"dc242952.022648","name":"Average taken Every 2s","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":600,"wires":[["a18b2423.ef3b98"]]},{"id":"bd33fdf9.484a6","type":"e-mail","z":"dc242952.022648","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ndumma@gmail.com","dname":"Gmail","x":970,"y":1020,"wires":[]},{"id":"87b8068f.650f88","type":"twilio out","z":"dc242952.022648","twilio":"c37fd1a2.5b6b2","twilioType":"sms","url":"","number":"+4915166404955","name":"sms","x":990,"y":840,"wires":[]},{"id":"bfef6e42.98b0d","type":"debug","z":"dc242952.022648","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1340,"y":160,"wires":[]},{"id":"cc646884.eeb578","type":"json","z":"dc242952.022648","name":"","property":"payload","action":"","pretty":false,"x":90,"y":520,"wires":[["6793a4bb.68e15c"]]},{"id":"3f93ded6.0f2fb2","type":"ui_text","z":"dc242952.022648","group":"a193d481.a91da8","order":20,"width":0,"height":0,"name":"","label":"Verification ","format":"{{msg.payload}}","layout":"row-center","x":510,"y":460,"wires":[]},{"id":"a193d481.a91da8","type":"ui_group","z":"","name":"Node status","tab":"b4a04673.a189e8","order":3,"disp":true,"width":24,"collapse":false},{"id":"3d12d587.b75c2a","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"{","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"}","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"fa874327.13cfd","type":"influxdb","z":"","hostname":"192.168.31.68","port":"8086","protocol":"http","database":"mspadc10","name":"","usetls":false,"tls":""},{"id":"1989a34d.dbf86d","type":"mqtt-broker","z":"","name":"","broker":"192.168.31.68","port":"1883","clientid":"esp","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c37fd1a2.5b6b2","type":"twilio-api","z":"","name":"","sid":"AC99c3b45d65ee6ecb9207cf3da7c429e3","from":"+13238869419"},{"id":"b4a04673.a189e8","type":"ui_tab","z":"","name":"Cow monitoring","icon":"dashboard","disabled":false,"hidden":false}]